// Body
$body-bg: #000000;

// Typography
$font-family-monospace: 'IBM Plex Mono', monospace;
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$white: #c4c4c4; // reduced the brightness of our site white due to the fact that the contrast is so high with the black background.
// keeping the rest of the colors the same, but I will be applying a de-saturation to all of them to reduce the impact.
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;