// Fonts
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,400i');
// Bootstrap
@import '~bootstrap/scss/bootstrap';
// Variables
@import 'variables';


html, body {
  color: $white;
  background-color: $body-bg;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 200;
  height: 100vh;
  margin: 0;

  &.crt_green {
    color: #31dc28;
  }

  &.crt_orange {
    color: #ffc000;
  }

  .signature {
    font-size: 2em;
  }

  .page-title {
    border-bottom: 1px solid;
    border-color: $gray-900;
    margin-top: $spacer;
    padding-bottom: $spacer * .25;
  }

  pre.background-code {
    font-family: 'IBM Plex Mono', monospace;
    z-index: 0;
    position: fixed;
    top: -1000px;
    left: 0;
    user-select: none;
  }

  main.container {
    z-index: 10;
    position: relative;
  }

  .navbar-expand-lg {
    .navbar-nav {
      a.nav-link {
        padding-left: 0;
        padding-right: $spacer * 1.5;
      }
    }
  }

  #image-modal {
    z-index: 100001;

    .modal-content {
      background-color: transparent;
    }
  }

  .π {
    color: #0f0f0f;
    position: fixed;
    bottom: 2em;
    right: 2em;
    z-index: 0;
    cursor: pointer;
  }

  a {
    filter: grayscale(85%);
  }

  .form-control {
    background-color: $black;
    color: $white;
    border-color: $gray-900;
    border-radius: 0;
    border-left: none;
    //border-right: none;
    border-top: none;
    //border-bottom: none;
    &:focus {
      color: $white;
      background-color: $black;
      border: $black;
      outline: 0;
      -webkit-box-shadow: 0 0 0 0.2rem rgba(69, 74, 77, 0.25);
      box-shadow: 0 0 0 0.2rem rgba(69, 74, 77, 0.25);
    }
  }

  #crt_effect {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100000;
    pointer-events: none;
  }
}
